.products {
    // width: 1400px;
    margin: 7rem auto;
    columns: 3;
    column-gap: 4rem;
    li {
        width: 100%;
        margin: 2rem 1rem 1rem 1rem;
        background: white;
        //overflow: hidden;
        //break-inside: avoid;
        box-shadow: 0 0 1rem #dddddd;
        padding: 2rem;
        list-style: none;
        
        text-align: end;
        img {
            max-width: 100%;
        }
    }
}
@media screen and (max-width: 1200px) {
    .products {
        columns: 2;
        width: calc(100% - 4rem);
        box-sizing: border-box;
        padding: 2rem 2rem 2rem 0;
    }
}
@media screen and (max-width: 768px) {
    .products {
        columns: 1;
    }
}
