* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  // background-image: url(../img/plantBG.jpg)
}

@import "variables";

.container {
  // background-color: rgba(255, 255, 255, 0.849);
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 2rem;
  
  .nav{
    display: flex;
    justify-content: space-around;
    .navImage{
      width: 5%;
    };
    .info{
      display: flex;
      flex-direction: row;
    }
  }

  .titlePlant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    img{
      width: 65%;
    }
   
  }

  .header-plant {
    @media screen and (min-width: $md-breakpoint) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .header-plants {
      flex-basis: 30%;
      background-color: white;
      box-shadow: 0 0 2rem #dddddd;

      display: flex;
      flex-direction: column;
      padding: 2rem;
      
    }

    .header-plants img {
      width: 100%;
      
    }
  }
}
